# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
.Rproj.user

# exclude follower lists
data/followers_lists/*

# exclude large .rdata files
# temp files
primary/_test/*
2016-election/data/*
.DS_Store
